/* -webkit-transition: background .55s ease;
-moz-transition: background .55s ease;
-ms-transition: background .55s ease;
-o-transition: background .55s ease;
 transition: background .55s ease;
} */


.container-1 input#search::-webkit-input-placeholder {
 color: #A8A7A7;
 letter-spacing: 1px;
 font-size: 12px;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
 color: #A8A7A7; 
 letter-spacing: 1px;
 font-size: 12px; 
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
 color: #A8A7A7;
 letter-spacing: 1px;
 font-size: 12px;  
}


.container-1 input#search:-ms-input-placeholder {  
 color: #A8A7A7; 
 letter-spacing: 1px;
 font-size: 12px; 
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */


.container-1 .icon{
position: absolute;
padding-top: 8px;
padding-left: 50px;
font-size: 12px;
z-index: 1;
color: #A8A7A7;

}



.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
  outline:none;
  background: #ffffff;

}



input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
display: none; 
}


@media all and (max-width : 370px) {


.box{
margin: 15px auto;

width: 200px;
height: 20px;
padding-right: 10px;
}
}